:root[data-theme="OrangeDanger"] {
  --foreground-color: rgb(0, 0, 0);
  --background-start-color: rgb(253, 196, 169);
  --background-end-color: rgb(251, 135, 81);
}

:root[data-theme="PrincessPink"] {
  --foreground--color: rgb(0, 0, 0);
  --background-start-color: rgb(254, 236, 231);
  --background-end-color: rgb(239, 150, 166);
}

:root[data-theme="NextJsExample"] {
  --foreground-color: rgb(0, 0, 0);
  --background-start-color: rgb(214, 219, 220);
  --background-end-color: rgb(255, 255, 255);
}
body {
  height: 100%;
  margin: 0px;
  color: rgb(var(--foreground-color));
  background: linear-gradient(to bottom, transparent, var(--background-end-color)) var(--background-start-color);
}
html {
  height: 100%;
}
